.feature {
  background-color: #EFE9E7;
  padding-top: 50px;
  padding-bottom: 50px; }

.feature h3 {
  text-align: center;
  color: #3D1101;
  font-size: 20px;
  line-height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 31px; }
  @media (max-width: 767px) {
    .feature h3 {
      padding: 0;
      display: block; } }

.feature h3:hover {
  font-size: 22px; }

.feature h3::after, .feature h3::before {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border: none;
  margin: 0 1.5rem;
  border-top: 1.5px solid #979797;
  font-weight: bold; }
  @media (max-width: 767px) {
    .feature h3::after, .feature h3::before {
      display: none; } }

.featurebox li {
  color: #3D1101;
  float: left;
  margin-left: 4%;
  max-width: 28%;
  text-align: center;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold; }
  @media (max-width: 767px) {
    .featurebox li {
      float: none;
      padding: 30px 0 0 0;
      display: block;
      margin-left: 5%;
      max-width: 90%; } }
  .featurebox li h2 {
    padding-top: 20px;
    padding-bottom: 11px;
    font-size: 18px; }
  .featurebox li p {
    text-align: left;
    font-size: 16px;
    line-height: 1.5em; }
    @media (max-width: 767px) {
      .featurebox li p {
        padding-left: 37px;
        padding-right: 22px; } }
  .featurebox li img {
    border-radius: 50%; }

.featurebox:hover h2 {
  font-size: 20px; }

.intro-chef {
  background-color: #3D1101;
  color: #EFE9E7; }
  .intro-chef .intro-chef-box {
    float: left;
    max-width: 48%; }
    @media (max-width: 768px) {
      .intro-chef .intro-chef-box {
        padding-left: 1%;
        overflow: hidden; } }
    @media (max-width: 414px) {
      .intro-chef .intro-chef-box {
        margin-left: 0;
        max-width: 100%;
        float: none;
        display: block;
        padding-left: 0; } }
  .intro-chef img {
    height: 460px;
    max-width: 470px;
    float: left; }
    @media (max-width: 768px) {
      .intro-chef img {
        position: relative;
        left: -90px; } }
    @media (max-width: 414px) {
      .intro-chef img {
        left: 0;
        float: right; } }
  .intro-chef h3 {
    line-height: 32px;
    font-size: 20px; }
  .intro-chef span {
    padding-bottom: 16px;
    display: block;
    font-size: 16px; }
    @media (max-width: 767px) {
      .intro-chef span {
        padding-bottom: 10px; } }
  .intro-chef p {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5em; }
    @media (max-width: 768px) {
      .intro-chef p {
        line-height: 1.2em;
        padding-right: 25px; } }
    @media (max-width: 767px) {
      .intro-chef p {
        line-height: 22px;
        padding-right: 0; } }
    @media (max-width: 414px) {
      .intro-chef p {
        padding-bottom: 30px; } }

.intro-chef .text {
  padding: 40px 0px 0px 25px; }
  @media (max-width: 767px) {
    .intro-chef .text {
      padding: 20px 0 0 10px; } }

.intro-chef:hover h3 {
  font-size: 22px; }

.intro-chef .pic {
  line-height: 0;
  margin-left: 4%;
  overflow: hidden; }
  @media (max-width: 767px) {
    .intro-chef .pic {
      margin-left: 1%; } }
  @media (max-width: 414px) {
    .intro-chef .pic {
      margin-left: 0; } }

.feedback {
  text-align: center;
  background: #EFE9E7;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 50px; }
  .feedback h2 {
    font-size: 24px;
    color: #3D1101;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 2px; }
  .feedback h2:hover {
    font-size: 28px; }
  .feedback li {
    position: relative;
    text-align: left;
    float: left;
    max-width: 32%;
    line-height: 1.2em;
    color: #3D1101; }
    @media (max-width: 767px) {
      .feedback li {
        float: none;
        display: block;
        max-width: 96%; } }
    .feedback li img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%; }
    .feedback li h3 {
      color: #3D1101;
      font-size: 20px;
      margin-left: 80px;
      padding-top: 22px;
      padding-bottom: 22px; }
    .feedback li p {
      margin-left: 80px;
      display: block;
      font-size: 16px;
      max-width: 100%;
      letter-spacing: 1px; }
      @media (max-width: 767px) {
        .feedback li p {
          letter-spacing: 1px;
          max-width: none; } }
    .feedback li span {
      display: block;
      float: right;
      padding-top: 16px; }
  .feedback li:nth-child(1n+2) {
    margin-left: 2%; }
    @media (max-width: 767px) {
      .feedback li:nth-child(1n+2) {
        margin-left: 0; } }

.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.button-xsmall {
  font-size: 70%; }

.button-small {
  font-size: 85%; }

.button-large {
  font-size: 110%; }

.button-xlarge {
  font-size: 125%; }

.book {
  background-color: #FFF;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 50px; }
  .book h2 {
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 38px;
    letter-spacing: 2px;
    line-height: 32px; }
  .book h2:hover {
    font-size: 26px; }
  .book .book-box {
    float: left;
    width: 50%;
    height: 386px; }
    @media (max-width: 767px) {
      .book .book-box {
        float: none;
        width: 100%; } }
  .book .map {
    background: url(../pics/Map.png);
    max-width: 460px;
    height: 386px; }
    @media (max-width: 767px) {
      .book .map {
        margin-bottom: 30px; } }
  .book .form {
    padding-left: 20px;
    font-size: 14px;
    color: #3D1101;
    position: relative; }
    @media (max-width: 767px) {
      .book .form {
        padding-left: 0; } }
    .book .form label, .book .form p {
      padding-bottom: 6px; }
    .book .form input {
      width: 100%;
      margin-bottom: 12px; }
  .book .pure-radio input,
  .book .pure-radio {
    display: inline;
    width: auto; }
  .book #option-two {
    margin-left: 36px; }
  .book ul {
    position: absolute;
    bottom: 0;
    right: 0; }
    .book ul li {
      display: inline; }
      .book ul li button {
        width: 70px;
        font-size: 14px;
        margin-left: 11px;
        height: 32px; }
  .book .cancel {
    background-color: rgba(0, 0, 0, 0.35); }
