.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

.button-success {
  background: #1cb841;
  /* this is a green */ }

.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

.button-warning {
  background: #df7514;
  /* this is an orange */ }

.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

.register {
  background: #EFE9E7;
  padding: 50px 20% 0 20%; }
  @media (max-width: 767px) {
    .register {
      padding: 50px 2% 0 2%; } }
  .register h1 {
    font-family: NotoSansCJKtc-Black;
    font-size: 48px;
    color: #3D1101;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900; }
  .register h2 {
    font-family: NotoSansCJKtc-Medium;
    font-size: 20px;
    color: #3D1101;
    padding-bottom: 35px;
    text-align: center;
    padding-top: 5px; }
  .register .register-section {
    padding: 2%;
    color: #3D1101;
    background: #EFE9E7;
    -webkit-box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
    border-top: #FF5E45 4px solid;
    position: relative; }
    .register .register-section .register-box {
      width: 50%;
      float: left; }
      @media (max-width: 767px) {
        .register .register-section .register-box {
          float: none;
          width: 100%; } }
    .register .register-section h3 {
      text-align: center;
      font-weight: bolder;
      font-family: NotoSansCJKtc-Black;
      font-size: 18px;
      color: #3D1101;
      padding-bottom: 16px; }
    .register .register-section .regulation {
      padding-top: 9.6px;
      font-family: MicrosoftJhengHeiRegular;
      font-size: 18px;
      color: #3D1101;
      line-height: 1.0em; }
      .register .register-section .regulation p {
        font-family: MicrosoftJhengHeiRegular;
        font-size: 12px;
        color: #3D1101; }
      .register .register-section .regulation span {
        font-size: 18px; }
    @media (max-width: 767px) {
      .register .register-section .form {
        margin-top: 10px; } }
    .register .register-section .form fieldset {
      margin: 0;
      padding: .35em 0 .75em;
      border: 0;
      position: relative;
      font-family: MicrosoftJhengHeiRegular;
      font-size: 16px;
      color: #3D1101;
      margin-left: 20px;
      padding-bottom: 0; }
      @media (max-width: 767px) {
        .register .register-section .form fieldset {
          margin-left: 0; } }
      .register .register-section .form fieldset input {
        width: 100%;
        height: 32px;
        margin-bottom: 15px;
        padding-left: 27px; }
      .register .register-section .form fieldset input#password {
        margin-bottom: 0; }
      .register .register-section .form fieldset i.email-icon {
        position: absolute;
        top: 40px;
        left: 9px;
        font-size: 15px; }
      .register .register-section .form fieldset i.lock-icon {
        position: absolute;
        left: 10px;
        top: 105px; }
    .register .register-section .form a {
      padding-left: 20px;
      font-family: MicrosoftJhengHeiRegular;
      font-size: 14px;
      color: #FF5E45; }
      @media (max-width: 767px) {
        .register .register-section .form a {
          padding-left: 0; } }
  .register button {
    float: right;
    background: #F56C23;
    border-radius: 3px;
    width: 125px;
    height: 32px;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 30px; }
